<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TACC | Real Estate</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
</head>
<body>
    
    <header class="header" id="inicio">
        <img class="hamburguer" src="static/img/hamburguesa.svg" alt="">
        <nav class="menu-navegacion">
                <a href="#inicio">Home</a>
                <a href="#mapping">Mapping</a>
                <a href="#appraisal">Appraisal</a>
                <a href="#opportunities">Opportunities</a>
                <a href="#footer">Contact</a>
        </nav>
        <div class="head contenedor">
            <h1 class="titulo">Real Estate in Mexico</h1>
            <p class="copy">Please select the estate you are looking for. . .</p>
        </div>
        
    </header>
    <main>

        <section class="mapping" id="mapping">
           <div class="contenedor"> 
                <h2 class="subtitulo">Mapping</h2>
                <div class="contenedor-mapping">
                    <div class='tableauPlaceholder' id='viz1654564083720' style='position: relative'>
                        <noscript><a href='#'><img alt='CitiBike ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Q6&#47;Q62YMSNZ8&#47;1_rss.png' style='border: none' /></a>
                        </noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> 
                            <param name='path' value='shared&#47;Q62YMSNZ8' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Q6&#47;Q62YMSNZ8&#47;1.png' /> 
                            <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' />
                            <param name='language' value='es-ES' /></object></div>                
                            <script type='text/javascript'>                    var divElement = document.getElementById('viz1654564083720');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1116px';vizElement.style.height='591px';                    
                            var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                
                            </script>"           
                    </div>                                          
                </div>    
            </div>
        </section>

        <section class="gallery" id="appraisal">
            <div class="contenedor">
                <h2 class="subtitulo">Do you want to calculate the price of your property?</h2>
                <h3 class="sub">Please select the features of the property you are looking for;</h3>
                <div class="row">
                <form class="col-md-6" method="POST">
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="inputGroupSelect01" id="type">Type</label>
                        <select class="form-select" id="inputGroupSelect01">
                        <option selected>Select...</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['type'] }}">House</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['type'] }}">Appartament</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['type'] }}">Land</option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="inputGroupSelect02" id="State">State</label>
                        <select class="form-select" id="inputGroupSelect02">
                        <option selected>Select...</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Aguascalientes</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Baja California</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Baja California Sur</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Campeche</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Chiapas</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Chihuahua</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Ciudad de México</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Coahuila de Zaragoza</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Colima</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Durango</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Guanajuato</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Guerrero</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Hidalgo</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Jalisco</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Michoacán de Ocampo</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Morelos</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">México</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Nayarit</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Nuevo León</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Oaxaca</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Puebla</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Querétaro</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Quintana Roo</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">San Luis Potosí</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Sinaloa</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Sonora</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Tabasco</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Tamaulipas</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Tlaxcala</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Veracruz de Ignacio de la Llave</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Yucatán</option>
                        <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Zacatecas</option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="inputGroupSelect03" id="type">Land Size</label>
                        <input type="text" name="m2Terreno" placeholder="200" value="{{ request.form['m2Terreno'] }}" class="form-control" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2">m2</span>
                    </div>
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="inputGroupSelect04" id="type">Construction Area</label>
                        <input type="text" name="m2Construccion" placeholder="100" value="{{ request.form['m2Construccion'] }}" class="form-control" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2">m2</span>
                    </div>  
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="inputGroupSelect05" id="type">Number of Bathrooms</label>
                        <select class="form-select" id="inputGroupSelect05">
                        <option selected>Select...</option>
                        <option type="text" name="banos" value="{{ request.form['banos'] }}">1</option>
                        <option type="text" name="banos" value="{{ request.form['banos'] }}">1.5</option>
                        <option type="text" name="banos" value="{{ request.form['banos'] }}">2</option>
                        <option type="text" name="banos" value="{{ request.form['banos'] }}">2.5</option>
                        <option type="text" name="banos" value="{{ request.form['banos'] }}">3</option>
                        <option type="text" name="banos" value="{{ request.form['banos'] }}">3.5</option>
                        <option type="text" name="banos" value="{{ request.form['banos'] }}">4</option>
                        <option type="text" name="banos" value="{{ request.form['banos'] }}">4.5</option>
                        <option type="text" name="banos" value="{{ request.form['banos'] }}">5</option>
                        <option type="text" name="banos" value="{{ request.form['banos'] }}">más de 5</option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="inputGroupSelect06" id="type">Number of Parking Slots</label>
                        <select class="form-select" id="inputGroupSelect06">
                        <option selected>Select...</option>
                        <option type="text" name="estacionamientos" value="{{ request.form['estacionamientos'] }}">1</option>
                        <option type="text" name="estacionamientos" value="{{ request.form['estacionamientos'] }}">1.5</option>
                        <option type="text" name="estacionamientos" value="{{ request.form['estacionamientos'] }}">2</option>
                        <option type="text" name="estacionamientos" value="{{ request.form['estacionamientos'] }}">2.5</option>
                        <option type="text" name="estacionamientos" value="{{ request.form['estacionamientos'] }}">3</option>
                        <option type="text" name="estacionamientos" value="{{ request.form['estacionamientos'] }}">3.5</option>
                        <option type="text" name="estacionamientos" value="{{ request.form['estacionamientos'] }}">4</option>
                        <option type="text" name="estacionamientos" value="{{ request.form['estacionamientos'] }}">4.5</option>
                        <option type="text" name="estacionamientos" value="{{ request.form['estacionamientos'] }}">5</option>
                        <option type="text" name="estacionamientos" value="{{ request.form['estacionamientos'] }}">más de 5</option>
                        </select>
                    </div>
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="inputGroupSelect06" id="type">Property's Age</label>
                        <select class="form-select" id="inputGroupSelect06">
                        <option selected>Select...</option>
                        <option type="text" name="antiguedad" value="{{ request.form['antiguedad'] }}">1</option>
                        <option type="text" name="antiguedad" value="{{ request.form['antiguedad'] }}">2</option>
                        <option type="text" name="antiguedad" value="{{ request.form['antiguedad'] }}">3</option>
                        <option type="text" name="antiguedad" value="{{ request.form['antiguedad'] }}">4</option>
                        <option type="text" name="antiguedad" value="{{ request.form['antiguedad'] }}">5</option>
                        <option type="text" name="antiguedad" value="{{ request.form['antiguedad'] }}">6</option>
                        <option type="text" name="antiguedad" value="{{ request.form['antiguedad'] }}">7</option>
                        <option type="text" name="antiguedad" value="{{ request.form['antiguedad'] }}">8</option>
                        <option type="text" name="antiguedad" value="{{ request.form['antiguedad'] }}">9</option>
                        <option type="text" name="antiguedad" value="{{ request.form['antiguedad'] }}">10</option>
                        <option type="text" name="antiguedad" value="{{ request.form['antiguedad'] }}">más de 10</option>
                        </select>
                    </div>                    
                    <br>    
                    <input class="btn btn-primary" type="submit" value="calculate">
                </form> 
                <div class="col-md-3">
                    <div class="alert alert-info" role="alert">
                        <label class="">Price:</label>
                        <h2></h2> 
                    </div>
                </div> 
                </div>         
            </div>
        </section>
        
        <section class="opportunities" id="opportunities"> 
            <div class="contenedor">
                <h2 class="subtitulo">Best deals:</h2>
                <div class="row">
                    <div class="col-md-3">
                        <form class="">
                            <div class="input mb-2">          
                                <label class="input-group-text" id="tipo">Type</label>
                                <select class="form-select">
                                <option selected>Select...</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['type'] }}">House</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['type'] }}">Appartament</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['type'] }}">Land</option>
                                </select>
                            </div>
                            <div class="input mb-2">
                                <label class="input-group-text" id="entidad">State</label>
                                <select class="form-select">
                                <option selected>Select...</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Aguascalientes</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Baja California</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Baja California Sur</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Campeche</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Chiapas</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Chihuahua</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Ciudad de México</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Coahuila de Zaragoza</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Colima</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Durango</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Guanajuato</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Guerrero</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Hidalgo</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Jalisco</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Michoacán de Ocampo</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Morelos</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">México</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Nayarit</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Nuevo León</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Oaxaca</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Puebla</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Querétaro</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Quintana Roo</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">San Luis Potosí</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Sinaloa</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Sonora</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Tabasco</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Tamaulipas</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Tlaxcala</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Veracruz de Ignacio de la Llave</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Yucatán</option>
                                <option type="text" name="estadoSelecc" value="{{ request.form['estadoSelecc'] }}">Zacatecas</option>
                                </select>
                            </div>
                            <div class="input mb-2">
                                <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>                          
                            </div>       
                        </form>
                    </div>
                    <div class="col-md-9">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>State</th>
                                    <th>Comercial Price</th>
                                    <th>Predicted Price</th>
                                    <th>Price Difference</th>
                                    <th>Land Meters</th>
                                    <th>Construction Meters</th>
                                    <th>Rooms</th>
                                    <th>Bathrooms</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                          </table>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer id="footer">
        <div class="contenedor footer-content">
                <div class="contact-us">    
                    <h2 class="brand">Treviño, Brenda</h2>
                    <p class="git">https://github.com/brendatreto</p>

                    <h2 class="brand">Acosta, Carlos</h2>
                    <p class="git">https://github.com/cacostamx</p>
               
                    <h2 class="brand">Castro, Jorge</h2>
                    <p class="git">https://github.com/JCastro1986</p>
                
                    <h2 class="brand">Carmona, Fernando</h2>
                    <p class="git">https://github.com/LZaack</p>
                </div>
                <div class="footer-logo">
                    <img src="static/img/logo.png" class="logo" alt="">
                </div>                
                <div class="social-media">
                    <a href="./" class="social-media-icon">
                        <i class='bx bxl-facebook'></i>
                    </a>
                    <a href="./" class="social-media-icon">
                        <i class='bx bxl-twitter' ></i>
                    </a>
                    <a href="./" class="social-media-icon">
                        <i class='bx bxl-instagram' ></i>
                    </a>
                </div>
        </div>
        <div class="line"></div>
    </footer>
   
    <script src="static/js/menu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="static/js/dataVF.json"></script>
    <script src="static/js/app2.js"></script>

</body>
</html>